@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
    .plp-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
}